################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OO_Recap/.vs/OO_Recap/v16/Server/sqlite3
/OO_Recap/.vs/OO_Recap/v16
/OO_Recap/OO_Recap/obj/Debug
